<%- include('../partials/header') %>

<table>
<% flights.forEach(function(f){ %>
    <tr>
        <td><%= f.airline%></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
    </tr>
<% }) %>
</table>

<%- include('../partials/footer') %>